<!-- <head>
  <link rel="stylesheet" href="/css/nav_style.css">
</head> -->
<style>
  #gongbubat{
    color: #4AB186;
  }
  #navibar{
    background-color: white;
  }
</style>

<center>
  <nav class="navbar navbar-expand" id="navibar" style="width: 1130px">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" id="gongbubat">공부밭</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">면접</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">인적성</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">언어</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">자소서</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">자격증</a>
          </li>
        </ul>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/login">로그인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">로그아웃</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">회원가입</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</center>