<html>
    <body>
        <div>
            <p style='color:black'>임시 비밀번호 입니다.</p>
            <p style='color:black'>아래의 임시 비밀번호를 이용하여 로그인해주세요.</p>
            <h2><%= tempCode %></h2>
        </div>
    </body>
</html>