<body>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<h2>스터디 공지</h2>
<input class="dateSelector" name="birth" placeholder="날짜 및 시간">
<input type="text" name="studycontext" placeholder="내용">
<input placeholder="주소">

</body>